<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.robotfarming">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingMainActivity"
            android:label="Settings">
            <intent-filter>
                <action android:name="com.litreily.SettingMainActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ReportMainActivity"
            android:label="Reports">
            <intent-filter>
                <action android:name="com.litreily.ReportMainActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".cameraSettingActivity"
            android:label="Camera Setting">
            <intent-filter>
                <action android:name="com.litreily.cameraSettingActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".waterSettingActivity"
            android:label="Water Tank Setting">
            <intent-filter>
                <action android:name="com.litreily.waterSettingActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".watherSettingActivity"
            android:label="Weather Setting">
            <intent-filter>
                <action android:name="com.litreily.watherSettingActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".moistureSettingActivity"
            android:label="Soil Moisture Setting">
            <intent-filter>
                <action android:name="com.litreily.moistureSettingActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".CropsReportActivity"
            android:label="Crops Photo Reports">
            <intent-filter>
                <action android:name="com.litreily.CropsReportActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
